<h2> <%= @cocktail.name %> </h2>
<div class="block">
  <% @cocktail.doses.each do |dose| %>
  <%= dose.ingredient.name %> <br>
  <%= dose.description %> <br> <br>
  <%= link_to "delete this dose", cocktail_dose_path(@cocktail, dose), method: :delete, data: {confirm: "Are you sure to delete this dose?"}  %> <br><br>
  <% end %>
</div>
<div class="block-link">
  <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail) %> <br>
  <%= link_to "back to list", cocktails_path %>
</div>


